##########################################
# Entorno global de despliegue
##########################################

# dev | stage | prod
environment = "dev"


##########################################
# Kubernetes Access
##########################################

# ──────────────────────────────────────
# OPCIÓN A (RECOMENDADA)
# Acceso mediante kubeconfig
# ──────────────────────────────────────
# Usar para:
# - Laptop
# - Bastion
# - GitLab Runner
# - Jenkins Agent

use_kubeconfig  = true
kubeconfig_path = "~/.kube/config"
kube_context    = "kubernetes-admin@cluster.local"


# ──────────────────────────────────────
# OPCIÓN B (CI/CD o ServiceAccount)
# Acceso directo por API
# ──────────────────────────────────────
# Solo usar si use_kubeconfig = false

k8s_host = "https://<IP_Master_or_Balanceador>:6443"

# Token del ServiceAccount terraform-deployer
k8s_token = "<K8S_SERVICEACCOUNT_TOKEN>"

# CA del cluster (base64)
k8s_cluster_ca_certificate = "<BASE64_CLUSTER_CA>"


##########################################
# Microservicios a desplegar
##########################################

microservices = {

  ###################################
  # wsrecaudos
  ###################################
  wsrecaudos = {
    name           = "wsrecaudos"
    namespace      = "wsrecaudos-ns"
    image          = "registry.example.com/wsrecaudos:1.0.0"
    replicas       = 1
    port           = 7050
    values_file    = "helm-values/wsrecaudos.yaml"
    enable_ingress = false
    environment    = "dev"
  }

  ###################################
  # api-orders
  ###################################
  api-orders = {
    name           = "api-orders"
    namespace      = "api-orders"
    image          = "registry.example.com/api-orders:1.0.0"
    replicas       = 2
    port           = 8070
    values_file    = "helm-values/api-orders.yaml"
    enable_ingress = true
    environment    = "dev"
  }

  ###################################
  # auth-service
  ###################################
  auth = {
    name           = "auth-service"
    namespace      = "auth"
    image          = "registry.example.com/auth-service:1.0.0"
    replicas       = 2
    port           = 8080
    values_file    = "helm-values/auth-values.yaml"
    enable_ingress = true
    environment    = "dev"
  }
}


##########################################
# Valores globales opcionales
##########################################

default_replicas       = 1
default_enable_ingress = false
charts_base_path       = "./charts"