installCRDs: true

replicaCount: 1

prometheus:
  enabled: true

resources:
  limits:
    cpu: "200m"
    memory: "256Mi"
  requests:
    cpu: "50m"
    memory: "128Mi"

webhook:
  replicaCount: 1

cainjector:
  replicaCount: 1